.container {
  width: 1280px;
  max-width: 80vw;
}

.title {
  width: 100%;
}

.new {
  background-color: #e6ffec;
}

.deleted {
  background-color: #ffebe9;
}

.line-through {
  text-decoration-line: line-through;
}

.name {
  width: 300px;
}
